@import "null";
@import "mixin";
@import "fonts";
@import "jquery.pagepiling";

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden;
}

video {
    max-width: 100%;
    object-fit: fill;
}

.body-overflow {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(28, 28, 28, 0.5);
    backdrop-filter: blur(9px);
    z-index: 999;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__logo {
    max-width: 200px;
}

.header__social {
    display: flex;
    align-items: center;

    div {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.bg-video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1792px - 128px;
    margin: 0 auto;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    span {
        display: block;
        width: 25px;
        height: 1px;
        background-color: white;
        transition: all .3s ease-in-out;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.burger-active {
    span {
        &:nth-child(1) {
            transform: translate(-6px, 6px) rotate(43deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: translateY(-11px) rotate(-43deg) translateX(-7px);
        }
    }


}

.header__right {
    display: flex;
    align-items: center;

    .header__lang {
        cursor: pointer;
        margin-right: 40px;
        color: white;

        .active__lang {
            position: relative;
            padding-right: 20px;
            background: url(../img/lang.svg) center right no-repeat;

            .visble__lang {
                display: block;
                padding: 20px 40px;
            }

            ul {
                position: absolute;
                z-index: 999;
                background: rgba(28, 28, 28, 0.5);
                backdrop-filter: blur(9px);
                left: -80%;
                top: 185%;
                display: none;

                li {
                    a {
                        color: white;
                    }
                }
            }
        }

    }
}

.header__menu {
    height: 0;
    transform: translateY(-100%);
    transition: all 0.3s linear;

    nav {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateY(-100%);

        ul {
            display: flex;
            justify-content: center;
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            transition: all 0s linear 0.4s;

            li {
                &:not(:last-child) {
                    margin-bottom: 32px;
                }

                a {
                    font-size: 64px;
                    line-height: 75px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    position: relative;

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }

                    &::after {
                        content: '';
                        width: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: white;
                        height: 1px;
                        display: block;
                        transition: all .3s linear;
                    }
                }
            }
        }
    }
}

.header__menu-active {
    height: 100vh;
    transform: translate(0);

    nav {
        transform: translateY(0);

        ul {
            position: absolute;
            top: 45%;
            left: 50%;
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}

.pp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slide-section {
    background-color: white;
}

.collection__preview-img {
    max-width: 600px;
    margin-right: 210px;
}




.collerction__preview {
    .collection__preview-flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &:nth-child(2n - 1) {
        .collection__preview-flex {
            flex-direction: row-reverse;

            .collection__preview-img {
                margin-right: 0px;
            }
        }
    }
}

#pp-nav span,
.pp-slidesNav span {
    width: 15px;
    height: 1px;
    border-radius: 0;
    transition: all .3s linear;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    width: 25px;
    height: 1px;
    border-radius: 0;
}

.collection__preview-info {
    max-width: 658px;

    span {
        font-style: italic;
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #000000;
    }

    h2 {
        font-size: 72px;
        line-height: 84px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #25282B;
        margin: 24px 0 79px 0;
    }

    a {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: #686868;
        margin-right: 10px;
    }
}

.collection__preview-btn {
    border: 1px solid #686868;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    position: relative;
    transition: all .3s linear;

    &::after {
        content: '';
        z-index: -1;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: black;
        height: 100%;
        display: block;
        transition: all .3s linear;
    }

    &:hover {
        a {
            color: white;
        }

        svg {
            path {
                stroke: white;
            }
        }

        &::after {
            width: 100%;
        }
    }
}

.partnership__preview {
    background: url(../img/partnershipBg.png) center center/cover no-repeat;
    padding: 127px 0;
}

.partnership__text {
    h3 {
        font-size: 28px;
        line-height: 28px;
        color: #292D32;
        font-weight: 700;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #292D32;
        margin: 10px 0 24px 0;
    }
}

.partnership__btn {
    display: inline-flex;
    border: 1px solid #000;
    align-items: center;
    padding: 6px 12px;
    position: relative;
    cursor: pointer;

    svg {
        path {
            transition: all .3s linear;
        }
    }

    a {
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: #292D32;
        margin-right: 10px;
        transition: all .3s linear;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        background-color: #000000;
        display: block;
        transition: all .3s linear;

    }

    &:hover {
        transition: all .3s linear;

        a {
            color: white;
            z-index: 2;
        }

        svg {
            z-index: 2;

            path {
                stroke: white;
            }
        }

        &::after {
            width: 100%;
        }
    }
}

.blog__container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.blog__item {
    max-width: 470px;
    margin-bottom: 50px;

    &:not(:nth-child(3n)) {
        margin-right: 125px;
    }

    h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #686868;
    }

    p {
        padding-top: 12px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #686868;
    }
}

.blog__category {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.blog__wrapper {
    display: flex;
}

.footer {
    padding-bottom: 0;
    padding-top: 320px;

    .pp-tableCell {
        justify-content: space-between;
    }

    .container {
        border-top: 1px solid #292D32;
    }
}

.footer__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
}

.footer__logo {
    max-width: 126px;
    margin-bottom: 50px;
}

.footer__subscribe {
    border-bottom: 1px solid #686868;

    form {
        display: flex;
        align-items: center;

        input {
            border: none;
            width: 335px;
            outline: none;
            padding: 10px 0 10px 0;

            &::placeholder {
                color: #000;
                font-size: 20px;
            }
        }

        button {
            border: none;
            background-color: transparent;
        }
    }
}

.footer__form-description {
    font-size: 10px;
    line-height: 22px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.footer__right {
    display: flex;
    align-items: flex-start;
    margin-left: 625px;

    h3 {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #292D32;
        margin-bottom: 34px;
    }

    p {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #686868;
        max-width: 165px;
    }


    ul {
        li {
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #686868;

            &:not(:last-child) {
                margin-bottom: 24px;
            }

            a {
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: #686868;
            }
        }
    }
}

.footer__contact {
    margin: 0 147px 0 147px;
}

.footer__contact-number {
    font-size: 18px;
    line-height: 17px;
    text-transform: uppercase;
    color: #686868;
}

.footer__social-item {
    a {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #686868;
    }
}

.cratory {
    display: flex;
    align-items: center;
    background-color: #000;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.bg-black {
    background: #141414;
}

h1.title {
    font-size: 72px;
    line-height: 87px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2.title {
    font-size: 72px;
    line-height: 87px;
    text-transform: uppercase;
    color: #000;
}

.bg-gray {
    background: #FAFAFA;
}

.text-center {
    max-width: 1251px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        margin-top: 61px;
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
        line-height: 29px;
        color: #686868;
        max-width: 915px;
    }
}

.about__media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img__container {
    max-width: 540px;
    max-height: 810px;

    &:not(:nth-child(3n)) {
        margin-right: 22px;
    }
}

.collection__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.collections__item {
    max-width: 540px;
    margin-bottom: 20px;

    &:not(:nth-child(3n)) {
        margin-right: 22px;
    }
}

footer {
    padding-top: 100px !important;

    .container {
        padding-bottom: 100px;
    }

}

.collection__img {
    opacity: 1;
    transition: all .3s linear;
}

.collection__img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.8s linear;
}

.collections__item {
    position: relative;

    &:hover {
        .collections__details {
            height: auto;
            padding: 27px 10px 27px 10px;

            span {
                font-size: 18px;
            }

            a {
                font-size: 20px;
            }

            svg {
                width: auto;
            }
        }

        .collection__img {
            opacity: 0;

            &-hover {
                opacity: 1;
            }
        }
    }
}

.collections__details {
    display: flex;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(28, 28, 28, 0.5);
    backdrop-filter: blur(5px);
    transition: all 0.3s linear;

    span {
        font-size: 0px;
        line-height: 22px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    a {
        font-size: 0;
        line-height: 29px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        margin: 0 10px 0 10px;
    }

    svg {
        width: 0;

        path {
            stroke: white;
        }
    }
}

.collections {
    padding: 100px 0 0 0;
}

.collection__header {
    position: relative;
    padding: 350px 100px;
}

.page__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection__header-img {
    width: 100%;
}

.page__title-wrapper {
    background: rgba(28, 28, 28, 0.3);
    backdrop-filter: blur(9px);
    max-width: 760px;
    padding: 72px 22px 92px 22px;

    span {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    h1 {
        font-size: 72px;
        line-height: 87px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}



.model__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.model__count {
    p {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
        color: #C4C4C4;
    }

    span {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: #292D32;
    }
}

.model__sort {
    form {
        select {
            font-family: "Roboto";
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.005em;
            text-transform: uppercase;
            color: #686868;
            padding: 5px 10px 5px 10px;
            outline: none;

            option {
                font-family: "Roboto";
            }
        }
    }
}

.p-100 {
    padding-top: 100px;
}

.model__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

    a {
        margin-bottom: 42px;
        display: flex;
        flex-direction: column;
        max-width: 540px;

        h2 {
            margin-top: 22px;
            font-family: "Roboto";
            font-weight: bold;
            font-size: 14px;
            line-height: 28px;
            text-transform: uppercase;
            color: #C4C4C4;
        }

        h3 {
            margin-top: 10px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #292D32;
        }

        &:not(:nth-child(3n)) {
            margin-right: 22px;
        }
    }
}

.model {
    padding: 0;
}

.model__flex {
    display: flex;
}

.model__big {
    max-width: 100%;
    position: relative;

    img {
        width: 100%;
    }
}

.video__btn {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    background: rgba(28, 28, 28, 0.3);
    backdrop-filter: blur(13.5px);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 18px;
        height: 24px;
    }
}

.model__descriptions {
    max-width: 728px;
    margin-top: 115px;

    p {
        font-size: 18px;
        line-height: 28px;
        color: #686868;
    }

    ul {
        margin-top: 30px;
        list-style: inside;

        li {
            font-size: 18px;
            line-height: 28px;
            text-transform: uppercase;
            color: #686868;
        }
    }
}

.model__left {
    flex: 0 0 670px;
}

.model__right {
    padding-top: 150px;
    padding-left: 22px;
}

.model__nav {
    h3 {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        color: #C4C4C4;
    }

    ul {
        margin-top: 25px;
        display: flex;
        align-items: center;

        li {
            margin-right: 25px;
            position: relative;

            &:not(:first-child) {
                &::after {
                    content: "/";
                    position: absolute;
                    top: -30%;
                    left: -14%;
                    color: #000;
                    font-size: 25px;
                    font-weight: 900;
                    color: #C4C4C4;
                }
            }

            a {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 22px;
                text-transform: uppercase;
                color: #C4C4C4;

                &.active {
                    color: #292D32;
                }
            }
        }
    }
}

.model__wrapper {
    display: flex;
    align-items: center;
}

.model__slider {
    margin-top: 20px;
    overflow-x: hidden;
    max-width: 100%;
}

.model__img {
    flex: 0 0 235px;
    cursor: pointer;
}

.partnership__wrapper {
    background: rgba(28, 28, 28, 0.5);
    backdrop-filter: blur(9px);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 540px;
    margin: 0 auto;
    padding: 115px 0 75px 0;
    flex-direction: column;

    h3 {
        font-size: 20px;
        line-height: 17px;
        color: #D8D8D8;
    }

    p {
        margin: 20px 0;
        font-size: 20px;
        line-height: 17px;
        color: #ffff;
    }

    a {
        font-style: italic;
        font-size: 20px;
        line-height: 17px;
        color: #ffff;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 353px;

        textarea {
            width: 100%;
            color: white;
            background-color: transparent;
            border: none;
            padding: 0px 0px 7px 0;
            border-bottom: 1px solid white;
            outline: none;

            &::placeholder {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.005em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }

        input {
            width: 100%;
            color: white;
            padding: 0px 0px 7px 0;
            border: none;
            border-bottom: 1px solid white;
            background-color: transparent;
            margin-bottom: 48px;
            outline: none;

            &::placeholder {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.005em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }

        p {
            margin-top: 32px;
            margin-bottom: 80px;
            font-size: 14px;
            line-height: 17px;
            color: #C4C4C4;
        }

        button {
            border: none;
            cursor: pointer;
            border: 1px solid #D8D8D8;
            padding: 6px;
            width: 69px;
            font-size: 18px;
            line-height: 22px;
            background-color: transparent;
            letter-spacing: 0.005em;
            text-transform: uppercase;
            color: #D8D8D8;
            margin-bottom: 100px;
        }
    }
}

.post__media {
    max-width: 540px;
    margin-right: 23px;
}

.post__info {
    margin-bottom: 95px;

    span {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
        color: #C4C4C4;
    }

    h4 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #686868;
        margin: 12px 0;
    }

    p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #686868;
    }
}

.post__flex {
    display: flex;
    flex-wrap: wrap;
}

.post__content {
    max-width: 914px;

    p {
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #686868;
    }
}

.relate__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    overflow-x: auto;

    a {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
}

.mapSection {
    padding: 0;
    height: 90vh;
}

.gmnoprint {
    display: none;
}

.gm-fullscreen-control {
    display: none;
}

.video__wrapper {
    display: flex;
}

.video__slider {
    width: 100%;
    height: 100%;
}

.video__slide {
    flex: 0 0 80%;
    position: relative;

    video {
        object-fit: cover;
    }
}

.video__play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    cursor: pointer;
}

.serch__store {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    background: rgba(28, 28, 28, 0.5);
    backdrop-filter: blur(9px);
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 26px;

    p {
        font-size: 10px;
        line-height: 22px;
        text-transform: uppercase;
        color: #C4C4C4;
        font-size: 15px;
    }

    form {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid white;
        margin-bottom: 10px;

        input {
            background-color: transparent;
            color: white;
            border: none;
            outline: none;
            padding-bottom: 8px;
            width: 100%;

            &::placeholder {
                font-family: "Roboto";
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.005em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }

        button {
            background: url(../img/search.svg) center/contain no-repeat;
            width: 24px;
            height: 24px;
            border: none;
            outline: none;
        }
    }
}

@media (max-width: 1680px) {
    .container {
        max-width: 1420px;
    }

    .collection__preview-img {
        max-width: 450px;
        margin-right: 170px;
    }

    .blog__container {
        justify-content: space-between;
    }

    .blog__wrapper {
        justify-content: space-between;

        .blog__item {
            max-width: 28%;
        }
    }

    .blog__item {
        max-width: 30%;
    }

    .blog__item:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .footer__right {
        margin-left: 375px;
    }

    .collection__preview-info h2 {
        font-size: 65px;
    }

    .img__container {
        flex: 0 0 30%;
        height: 639px;
    }

    .collection__flex {
        justify-content: space-between;
    }

    .collections__item {
        max-width: 30%;
    }

    .collections__item:hover .collections__details a {
        font-size: 15px;
    }

    .model__list a {
        max-width: 30%;
    }

    .page__title-wrapper h1 {
        font-size: 55px;
    }

    .page__title-wrapper {
        max-width: 600px;
        padding: 72px 22px 72px 22px;
    }

    .model__left {
        flex: 0 0 600px;
    }

    .model__descriptions {
        margin-top: 50px;
    }

    .model__right {
        padding-top: 115px;
    }

    .video__slider {
        overflow: hidden;
    }

    .post__media {
        max-width: 450px;
    }

    .relate__block {
        flex: 0 0 33%;
        margin-right: 15px;
    }

    .post__flex {
        padding-top: 50px;
    }

    .video__slider {
        padding-top: 50px;
    }

    .header__facebook {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1280px) {

    .container {
        max-width: 1100px;
    }

    .footer__right {
        margin-left: 250px;
    }

    .collection__preview-info a {
        font-size: 12px;
    }

    .collection__preview-info h2 {
        font-size: 40px;
    }

    .collection__preview-img {
        max-width: 30%;
    }

    .collection__preview-info span {
        font-size: 25px;
    }

    .header__menu nav ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .collection__preview-info {
        max-width: 430px;
    }

    .collerction__preview .collection__preview-flex {
        justify-content: center;
    }

    .blog__wrapper {
        justify-content: space-between;

        .blog__item {
            max-width: 25%
        }
    }


    .partnership__preview {
        padding: 65px 0;
    }

    .partnership__text h3 {
        font-size: 23px;
    }

    .partnership__text p {
        font-size: 15px;
    }

    .partnership__btn a {
        font-size: 12px;
    }

    .partnership__btn svg {
        width: 20px;
        height: 20px;
    }

    .header__menu nav ul li a {
        font-size: 45px;
    }

    h1.title {
        font-size: 60px;
    }

    h2.title {
        font-size: 60px;
    }

    .text-center p {
        font-size: 18px;
    }

    .img__container {
        height: 490px;
    }

    .footer__right h3 {
        font-size: 15px;
    }

    .footer__right ul li a {
        font-size: 12px;
    }

    .footer__right p {
        font-size: 12px;
    }

    .footer__contact-number {
        font-size: 15px;
    }

    .footer__left {
        max-width: 280px;
    }

    .collections__item:hover .collections__details a {
        font-size: 12px;
    }

    .collections__item:hover .collections__details svg {
        width: 20px;
    }

    .page__title-wrapper {
        max-width: 400px;
        padding: 32px 22px 32px 22px;
    }

    .page__title-wrapper h1 {
        font-size: 30px;
    }

    .page__title-wrapper span {
        font-size: 25px;
    }

    .model__left {
        flex: 0 0 500px;
    }

    .model__right {
        padding-top: 80px;
    }

    .model__nav h3 {
        font-size: 18px;
    }

    .model__nav ul li a {
        font-size: 14px;
    }

    .model__nav ul {
        margin-top: 0;
    }

    .model__nav ul li {
        margin-right: 12px;
    }

    .model__descriptions {
        font-size: 14px;
        margin-top: 24px;
    }

    .model__descriptions ul li {
        font-size: 14px;
    }

    .model__img {
        flex: 0 0 30%;
    }

    .post__block {
        &:first-child {
            flex: 0 0 40%;
        }

        &:last-child {
            flex: 0 0 50%;
        }
    }

    .post__media {
        max-width: 400px;
    }

    .post__info span {
        font-size: 10px;
    }

    .post__info h4 {
        font-size: 15px;
    }

    .post__info p {
        font-size: 10px;
    }

    .post__info {
        margin-bottom: 25px;
    }

    .post__content p {
        font-size: 18px;
    }

    h2 {
        font-size: 25px;
    }

    .relate__block {
        flex: 0 0 25%;
    }
}

@media (max-width: 1024px) {

    .container {
        max-width: 998px;
    }

    .footer__right {
        margin-left: 130px;
    }

    .collection__preview-img {
        max-width: 40%;
    }

    .collection__preview-img {
        margin-right: 0;
    }

    .collerction__preview:nth-child(2n-1) .collection__preview-flex {
        justify-content: center;
    }

    h2.title {
        font-size: 50px;
    }

    .img__container {
        height: 450px;
    }

    .footer__contact {
        margin: 0 63px;
    }

    .serch__store {
        max-width: 300px;
    }

    .serch__store p {
        font-size: 11px;
    }

    .serch__store form button {
        width: 20px;
        height: 20px;
    }

    .serch__store form input::placeholder {
        font-size: 15px;
    }

    .partnership__wrapper form button {
        margin-bottom: 66px;
    }
}

@media (max-width: 768px) {

    .container {
        max-width: 90%;
    }

    .bg-video {
        position: relative;
    }

    .header__logo {
        max-width: 150px;
    }

    .footer__flex {
        flex-direction: column;
    }

    .footer {
        padding-top: 100px;

        .pp-tableCell {
            overflow: auto;
        }
    }

    .footer__subscribe form input {
        width: 100%;
    }

    .footer__left {
        width: 80%;
        max-width: 100%;
    }

    .footer__right {
        margin-left: 0;
        margin-top: 50px;
    }

    .collection__preview-flex {
        flex-direction: column;
    }

    .collection__preview-img {
        max-width: 100%;
    }

    .collerction__preview .collection__preview-flex {
        align-items: flex-start;
    }

    .header__right .header__lang .active__lang ul {
        top: 161%;
    }

    .active__lang p {
        font-size: 15px;
    }

    .collection__preview-info span {
        font-size: 20px;
    }

    .collection__preview-info h2 {
        font-size: 44px;
        line-height: 60px;
        margin: 24px 0 10px 0;
        max-width: 320px;
    }

    .collection__preview-info {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 124px;
        max-width: 100%;
    }

    .collection__preview-btn {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            font-size: 24px;
        }
    }

    .bg-video-position {
        height: 100vh;
        margin-bottom: 100px;
    }

    .height-100vh {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .blog__slider {
        overflow: hidden;
    }

    .blog__item {
        max-width: 100%;
        flex: 0 0 45%;
    }

    .about__media {
        flex-direction: column;
    }

    .img__container:not(:nth-child(3n)) {
        margin-right: 0;
    }

    h1.title {
        font-size: 40px;
    }

    h2.title {
        font-size: 35px;
    }

    .img__container {
        height: auto;
        margin: 30px 0;
    }

    .text-center p {
        font-size: 15px;
    }

    .video__slider {
        padding-top: 0;
    }

    .post__content p {
        font-size: 15px;
        line-height: 25px
    }

    .collection__flex::-webkit-scrollbar {
        display: none;
    }

    .page__title-wrapper {
        max-width: 400px;
        padding: 0 22px 0 22px;

        span {
            font-size: 15px;
        }

        h1 {
            font-size: 20px;
        }
    }

    .relate__flex::-webkit-scrollbar {
        display: none;
    }

    .relate__block {
        flex: 0 0 40%;
    }

    .post__flex {
        padding-top: 0;
    }

    .slide-section.footer {
        display: none;
    }

    .collection__flex {
        overflow: auto;
        flex-wrap: nowrap;
    }

    .collections__item {
        max-width: 100%;
        flex: 0 0 60%;
    }

    .page__title-wrapper h1 {
        line-height: 46px
    }

    .model__list a {
        max-width: 45%;
    }

    .model__flex {
        padding-top: 100px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }

    .model__right {
        padding-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .model__big {
        padding-top: 24px;
    }

    .model__nav ul li a.active {
        font-weight: 700;
    }

    .header__menu nav ul li a {
        font-size: 35px;
    }

    .header__menu nav ul li:not(:last-child) {
        margin-bottom: 0;
    }

    .collection__header {
        padding: 370px 100px;
    }

}

@media (max-width: 640px) {

    .container {
        max-width: 100%;
        padding: 0 12px;
    }

    .header {
        .container {
            padding: 0 20px;
        }
    }

    .header__facebook {
        width: 17px;
        height: 17px;
    }

    h2.title {
        text-align: center;
    }

    .header__menu nav ul li a {
        font-size: 28px;
        line-height: 60px;
    }

    .blog__container {
        flex-direction: column;
    }

    .post__flex {
        flex-direction: column;
    }

    .post__media {
        max-width: 100%;
        margin-right: 0;
    }

    .post__block:last-child {
        margin-top: 20px;
    }
}

@media (max-width: 560px) {
    .container {
        max-width: 100%;
    }

    .blog__item {
        margin-right: 15px;
    }

    .collection__preview-btn a {
        font-size: 18px;
    }

    .header__social {
        display: none;
    }


    .collections__item {
        flex: 0 0 85%;
    }

    .relate__block {
        flex: 0 0 70%;
    }

    .model__right {
        padding-left: 0;
    }

    .model__nav {
        padding-left: 20px;
    }

    .blog__item {
        flex: 0 0 70%;
    }

    .footer__contact {
        margin: 0 48px;
    }

    .model__list a {
        max-width: 100%;
        margin-right: 0;
    }

    .model__list a:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .page__title-wrapper {
        max-width: 100%;
        padding: 0 22px 0 22px;
        width: 350px;
    }

    .page__title {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .model__left {
        flex: 0 0 100%;
    }

    h1.title {
        font-size: 25px;
    }

    h2.title {
        font-size: 25px;
    }
}